$darkblue: #0b4566;
$lightblue: #337FED;
$borderclr: #dbe4e9;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

img {
  display: block;
}

nav {
  background-color: #f2f5f7;
  border-bottom: 2px solid #dbe4e9;
}

.logo-container {
  background-color: #ffffff;
  border-right: 1px solid #dbe4e9;
  width: 100%;
  min-width: 130px;
}

.pointer {
  cursor: pointer;
}

.icon-arrow-down {
  width: 0.6rem;
  height: 0.6rem;
  // SVG icon color change
  filter: invert(21%) sepia(39%) saturate(1361%) hue-rotate(163deg) brightness(98%) contrast(96%);
}

.main-text {
  color: #0b4566;
  font-size: 0.8rem;
}

.secondary-text {
  color: #8da7b7;
  font-size: 0.6rem;
}

.nlm-logo {
  @extend .main-text;
  font-weight: bold;
}

.map-container {
  position: relative;
}

// Legend styling
.legend {
  position: absolute;
  top: 2%;
  z-index: 100;
}

.area-legend {
  @extend .legend;
  min-width: 110px;
  left: 75%;
}

.flow-legend {
  @extend .legend;
  min-width: 160px;
  left: 85%;
}

.legend-header {
  color: $darkblue;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #ffffff;
}

.flow-list,
.area-list {
  background: #f8f8f8;
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 0.5s max-height;
}

.flow-list.openedList,
.area-list.openedList {
  max-height: 100%;
  transition: ease-in-out 0.5s max-height;
}

.square-icon {
  width: 20px;
  height: 20px;
}

.select-icon {
  @extend .icon-arrow-down;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  -ms-transition: -ms-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.list-item {
  justify-content: flex-end;
  font-size: 0.7rem;
  color: $darkblue;
}

agm-map {
  height: 100%;
}

.sidebar {
  background-color: #f8f8f8;
}

.icon-container {
  border-bottom: 2px solid $darkblue;
}

.sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;

  // SVG icon color change
  filter: invert(21%) sepia(39%) saturate(1361%) hue-rotate(163deg) brightness(98%) contrast(96%);
}

.icon-folder {
  width: 2rem;
  height: 2rem;

  // SVG icon color change
  filter: invert(21%) sepia(39%) saturate(1361%) hue-rotate(163deg) brightness(98%) contrast(96%);
}

.sidebar-header-big {
  @extend .main-text;
  font-size: 0.95rem;
  font-weight: 500;
}

.instruction {
  border: 1px solid $borderclr;
  border-top: none;
}

.instruction-text {
  font-size: 0.6rem;
}


.sidebar-header-small {
  @extend .sidebar-header-big;
  font-size: 0.7rem;
  font-weight: 700;
}

.lightblue-text {
  color: $lightblue;
  font-weight: 500;
}

.marker-info {
  color: $darkblue;
  font-size: 0.75rem;
  border-bottom: 1px solid $lightblue;
}

@media only screen and (max-width: 1360px) {
  .flow-legend {
    left: 82%;
  }

  .area-legend {
    left: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .flow-legend {
    left: 76%;
  }

  .area-legend {
    left: 58%;
  }
}

@media only screen and (max-width: 933px) {
  .flow-legend {
    left: 69%;
  }

  .area-legend {
    left: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .flow-legend {
    left: 50%;
  }

  .area-legend {
    left: 10%;
  }
}

@media only screen and (max-width: 630px) {
  .flow-legend {
    left: 40%;
  }

  .area-legend {
    left: 3%;
  }
}
