<!-- Navbar -->
<div class="row" style="height:5.5%;">
  <nav class="col-12">
    <div class="row d-flex align-items-center">
      <div class="logo-container col-1 p-2 pr-3 d-flex align-items-center justify-content-between">
        <div>
          <p class="nlm-logo">NLM</p>
          <p class="secondary-text">POWERED BY DHI</p>
        </div>
        <div>
          <img src="https://www.flaticon.com/svg/static/icons/svg/32/32195.svg" class="icon-arrow-down">
        </div>
      </div>
      <div class="col text-center">
        <p class="main-text">MAPA</p>
      </div>
    </div>
  </nav>
</div>
<!-- Main content -->
<div class="row" style="height:94.5%;overflow-x: hidden;">
  <div class="col-12 main-container d-flex">
    <div class="map-container"
      [ngClass]="{'col': mapService.formShow === false, 'col-xl-10 col-lg-9 col-md-9': mapService.formShow === true}">
      <!-- Legend info -->
      <div class="area-legend">
        <div class="area-list d-flex flex-column" [class.openedList]="showAreaLegend">
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Brak</p>
            <img src="https://www.iconsdb.com/icons/preview/color/DBE4E9/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>0</p>
            <img src="https://www.iconsdb.com/icons/preview/color/4DFF4D/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>10</p>
            <img src="https://www.iconsdb.com/icons/preview/color/5FE645/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>20</p>
            <img src="https://www.iconsdb.com/icons/preview/color/71CC3E/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>30</p>
            <img src="https://www.iconsdb.com/icons/preview/color/82B336/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>40</p>
            <img src="https://www.iconsdb.com/icons/preview/color/94992E/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>50</p>
            <img src="https://www.iconsdb.com/icons/preview/color/A68027/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>60</p>
            <img src="https://www.iconsdb.com/icons/preview/color/B8661F/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>70</p>
            <img src="https://www.iconsdb.com/icons/preview/color/CA4C17/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>80</p>
            <img src="https://www.iconsdb.com/icons/preview/color/DB330F/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>90</p>
            <img src="https://www.iconsdb.com/icons/preview/color/ED1908/square-xxl.png" class="mx-2 square-icon">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>100</p>
            <img src="https://www.iconsdb.com/icons/preview/red/square-xxl.png" class="mx-2 square-icon">
          </div>
        </div>
        <div class="legend-header px-2 py-1 d-flex justify-content-between align-items-center pointer"
          (click)="showAreaLegend=!showAreaLegend">
          <p>Legenda stref</p>
          <img src="https://www.flaticon.com/svg/static/icons/svg/32/32195.svg" class="select-icon ml-3"
            [class.rotate]="showAreaLegend">
        </div>
      </div>
      <div class="flow-legend">
        <div class="flow-list d-flex flex-column pl-2" [class.openedList]="showFlowLegend">
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Przepływ nieznany</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_gray.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Przepływ - SUW/ZUW</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_green.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Przepływ - zbiornik</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_orange.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Przepływ międzystrefowy</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_blue.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Sprzedaż - Online</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_yellow.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Sprzedaż - odczyt co 12h</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_purple.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Sprzedaż- odczyt ręczny</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_brown.png" class="mx-2">
          </div>
          <div class="list-item d-flex align-items-center justify-contend-end p-1">
            <p>Przepływ wirtualny</p>
            <img src="http://labs.google.com/ridefinder/images/mm_20_black.png" class="mx-2">
          </div>
        </div>
        <div class="legend-header px-2 py-1 d-flex justify-content-between align-items-center pointer"
          (click)="showFlowLegend=!showFlowLegend">
          <p>Legenda przepływu</p>
          <img src="https://www.flaticon.com/svg/static/icons/svg/32/32195.svg" class="select-icon"
            [class.rotate]="showFlowLegend">
        </div>
      </div>
      <!-- Map -->
      <agm-map [longitude]='longitude' [latitude]='latitude' [zoom]="13" (mapClick)="onMapClick($event)">
        <agm-marker *ngFor="let marker of mapService.markers" [longitude]='marker.lng' [latitude]='marker.lat'
          [iconUrl]="iconColorChange(marker)">
          <agm-info-window>
            <div class="marker-info-container p-1">
              <p class="marker-info mb-2"><span class="lightblue-text">Latitude:</span>{{ marker.lat }} </p>
              <p class="marker-info mb-2"><span class="lightblue-text">Longitude:</span>{{ marker.lng }}</p>
              <p class="marker-info mb-2"><span class="lightblue-text">Nazwa przepływomierza:</span>{{ marker.name }}
              </p>
              <p class="marker-info mb-2"><span class="lightblue-text">Typ:</span>{{ marker.type }}</p>
              <p class="marker-info"><span class="lightblue-text">Średnia wartość
                  przepływu:</span>{{ marker.flowValue }}</p>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <!-- Sidebar with icons -->
    <div class="sidebar d-flex flex-column">
      <div class="icon-container pr-2 pl-2 pt-2 pb-3">
        <img src="https://www.flaticon.com/svg/static/icons/svg/626/626073.svg" alt="Arrow up icon"
          class="sidebar-icon pointer">
        <img src="https://www.flaticon.com/svg/static/icons/svg/271/271194.svg" alt="Plus icon"
          class="sidebar-icon pointer mt-3">
        <img src="https://www.flaticon.com/premium-icon/icons/svg/2648/2648386.svg" alt="Minus icon"
          class="sidebar-icon pointer mt-3">
      </div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/1333/1333642.svg" alt="Folder icon"
        class="icon-folder align-self-center mt-auto mb-auto pointer"
        (click)="mapService.formShow=!mapService.formShow">
    </div>
    <!-- Form -->
    <app-flow-form></app-flow-form>
  </div>
</div>
