@import '/src/app/app.component.scss';

.flow-meter-container {
  max-width: 0px;
  overflow-x: hidden;
  transition: linear 0.4s max-width;
}

.flow-meter-container.opened {
  min-width: 170px;
  max-width: 100%;
  transition: ease-out 0.4s max-width;
}

.flow-header {
  border: 1px solid #dbe4e9;
}

.form-border {
  border: 1px solid #dbe4e9;
  border-top: none;
}

.flow-arrow {
  @extend .sidebar-icon;
  width: 1rem;
  height: 1rem;
}

// Input styling

.label {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
  @extend .secondary-text;

  ::placeholder {
    color: #0b4566;
    opacity: 1;
    /* Firefox */
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    height: 1.5rem;
    padding: 4px;
    font-size: 0.8rem;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba(#000, .3);
    color: #0b4566;
    transition: all .15s ease;

    &:focus {
      background: rgba(#000, .05);
      outline: none;
      box-shadow: inset 0 -2px 0 #0077FF;
    }

  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://www.flaticon.com/svg/static/icons/svg/60/60995.svg) right/8px 8px no-repeat #ffffff;
    background-position-x: 95%;
    width: 100%;
    border: 0;
    padding: 4px;
    height: 1.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba(#000, .3);
    color: #0b4566;
    transition: all .15s ease;

    &:focus {
      outline: none;
    }
  }
}

//button styling

.clear-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #337FED;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 2px solid #337FED;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: #337FED;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
}

.submit-button {
  @extend .clear-button;
  color: #ffffff;
  background-color: #337FED;
  border: 2px solid #337FED;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: #ffffff;
    color: #337FED;
  }
}

@media only screen and (max-width: 933px) {

  .flow-meter-container.opened {
    max-width: 220px;
  }
}
