<div class="flow-meter-container d-flex flex-column" [class.opened]="mapService.formShow">
  <div class="flow-header d-flex align-items-center px-2 py-3 justify-content-center">
    <img src="https://www.flaticon.com/svg/static/icons/svg/271/271218.svg" alt="Arrow left icon"
      class="flow-arrow pointer ml-2 mr-2" (click)="mapService.formShow=!mapService.formShow">
    <p class="sidebar-header-big">Przepływomierz</p>
  </div>
  <div class="instruction p-2">
    <p class="sidebar-header-small mb-2">Instrukcja</p>
    <p class="instruction-text text-justify">
      Wypełnij dane i kliknij przycisk <span class="lightblue-text">dodaj punkt.</span>
      Następnie wybierz punkt na mapie i kliknij <span class="lightblue-text">zatwierdź.</span>
    </p>
  </div>
  <div class="form-border p-2">
    <p class="sidebar-header-small mb-2">Dodaj nowy przepływomierz</p>
    <form [formGroup]="flowForm" (ngSubmit)="onSubmit(flowForm.value)">

      <label for="flowName" class="label mt-2">Nazwa
        <input type="text" id="flowName" placeholder="Przykładowa nazwa" formControlName="name">
        <div *ngIf="f.name.errors?.required && f.name.touched" class="text-danger">Pole wymagane!</div>
      </label>

      <label for="flowType" class="label mt-2">Typ
        <select id="flowType" formControlName="type">
          <option value="" disabled selected>Wybierz typ przepływu</option>
          <option *ngFor="let flow of mapService.flowArr;" [value]="flow.name">{{ flow.name }}</option>
        </select>
        <div *ngIf="f.type.errors?.required && f.type.touched" class="text-danger">Pole wymagane!</div>
      </label>

      <label for="flowValue" class="label mt-2">Średnia wartość przepływu
        <input type="text" id="flowValue" placeholder="100" required formControlName="flowValue">
        <div *ngIf="f.flowValue.errors?.pattern && f.flowValue.touched" class="text-danger">Tylko liczby!</div>
        <div *ngIf="f.flowValue.errors?.required && f.flowValue.touched" class="text-danger">Pole wymagane!</div>
      </label>

      <div class="form-buttons d-flex justify-content-between">
        <button class="clear-button" (click)="clearForm()">Wyczyść</button>
        <button class="submit-button" type="submit" [disabled]="!flowForm.valid">Zatwierdź</button>
      </div>
    </form>
  </div>
</div>
